@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Rubik", "sans-serif";
  background-color: white !important;
  color: black !important;
  box-sizing: border-box;
}

/* When dark mode is active (.dark class on <html> or <body>) */
.dark {
  background-color: rgba(24, 24, 27, 1) !important; /* or any dark color */
  color: white !important;
}
@layer components {
  .gradientBG {
    @apply bg-gradient-to-r from-orangeDeep via-grayLightProfileText to-orangeSoft text-transparent bg-clip-text;
  }

  .gradientHover {
    @apply hover:bg-gradient-to-r hover:from-orangeDeep hover:via-grayLightProfileText hover:to-orangeSoft hover:text-transparent hover:bg-clip-text;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
}
