@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Rubik", "sans-serif";
  background-color: white !important;
  color: black !important;
  box-sizing: border-box;
}

/* When dark mode is active (.dark class on <html> or <body>) */
.dark{
  background-color: rgba(24, 24, 27, 1) !important; /* or any dark color */
  color: white !important;   
}
@layer components {
  .gradientBG {
    @apply bg-gradient-to-r from-orangeDeep via-grayLightProfileText to-orangeSoft text-transparent bg-clip-text;
  }

  .gradientHover {
    @apply hover:bg-gradient-to-r hover:from-orangeDeep hover:via-grayLightProfileText hover:to-orangeSoft hover:text-transparent hover:bg-clip-text;
  }
}


